/********COLORS*********/
:root {
    --textColor: #000;
    --background: #fff;
    --navBackground: #eee;
    --hoverEffect: /*#FECEAB*/ #3DB6C7;
    --borderBottom: /*#99B898*/ #029CB2;

    --darkTextColor: #fff;
    --darkBackground: #111;
    --darkNavBackground: #333;
    --darkHoverEffect: /*#FF847C*/ #FF1300;
    --darkBorderBottom: /*#E84A5F*/ #A80C00;
}
/*
#99B898 green
#FECEAB yellow
#FF847C orange
#E84A5F pink
#2A363B black
*/
body.light #pageHeader,
body.light #pageHeader nav a,
body.light #pageHeader #mobile .sub,
body.light #firstContainer #videoContainer,
body.light div#bubble,
body.light div#bubble #footer
{background: var(--navBackground);}

body.light,
body.light #pageHeader nav a,
body.light #pageHeader #mobile a,
body.light div#bubble #loginSubmit,
body.light #conversationWrapper .line
{color: var(--textColor);}

body.light div#loginInfo,
body.light div#bubble .loginForm #nickname
{color: var(--textColor) !important;}

body.light #pageHeader nav a:hover,
body.light #pageHeader #mobile a:hover,
body.light div#bubble #loginSubmit
{background: var(--borderBottom)}

body.light{background-color: var(--background);}
body.light div#bubble #loginSubmit:hover{background: var(--hoverEffect);}
body.light #firstContainer #videoContainer{border-bottom: solid 1px var(--borderBottom);}
body.light div#bubble .loginForm #nickname{border-bottom: 2px solid var(--borderBottom);}
body.light #conversationInfo .conversationName, .buddy.currentConversation{background: var(--borderBottom) !important;}
body.light #pageHeader #mobile .sub li {border-top: 1px solid var(--borderBottom);}
/**********************/
body.dark #pageHeader,
body.dark #pageHeader nav a,
body.dark #pageHeader #mobile .sub,
body.dark #firstContainer #videoContainer,
body.dark div#bubble,
body.dark div#bubble #footer
{background: var(--darkNavBackground);}

body.dark,
body.dark #pageHeader nav a,
body.dark #pageHeader #mobile a,
body.dark div#bubble #loginSubmit,
body.dark #conversationWrapper .line
{color: var(--darkTextColor);}

body.dark div#loginInfo,
body.dark div#bubble .loginForm #nickname
{color: var(--darkTextColor) !important;}

body.dark #pageHeader nav a:hover,
body.dark #pageHeader #mobile a:hover,
body.dark div#bubble #loginSubmit
{background: var(--darkBorderBottom)}

body.dark{background-color: var(--darkBackground);}
body.dark div#bubble #loginSubmit:hover{background: var(--darkHoverEffect);}
body.dark div#bubble .loginForm #nickname{border-bottom: 2px solid var(--darkBorderBottom);}
body.dark #firstContainer #videoContainer{border-bottom: solid 1px var(--darkBorderBottom);}
body.dark #conversationInfo .conversationName, .buddy.currentConversation{background: var(--darkBorderBottom) !important;}
body.dark #pageHeader #mobile .sub li {border-top: 1px solid var(--darkBorderBottom);}

@font-face {
    font-family: generalFont;
    src: url(SFMono-Regular.ttf);
}

*{margin: 0;padding: 0; font-family: generalFont;}
.fixedPosition{position: fixed;width: 100%;}

img{border: 0px;}

#pageHeader{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pageHeader img { vertical-align: middle; }

#pageHeader h1{
    font-size: 20px;
    margin-left: 7.5%;
   /*
   background: -webkit-linear-gradient(#99B898, #99B898, #FF847C, #2A363B, #2A363B);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pageHeader h1 a{text-decoration: none; color: #A80C00;}
/************************ MENU ***********************/
#pageHeader #mobile{display:none;}
#pageHeader nav{margin-right: 7.5%;align-self: self-end;}
#pageHeader nav a{
    font-size: 15px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    min-width: 60px;
}
#pageHeader nav ul{
    position: relative;
    list-style:none;
    margin:0;
    padding:0;
}
#pageHeader nav ul li {
    float: left;
    position: relative;
}

/********* dark mode toggle ******/
.darkOrNot{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 20px;
    margin-bottom: 0px;
}

.switch input { 
    opacity: 0;
    width: 100%;
    height: 100%;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
/********* / dark mode toggle ******/



#pageHeader nav ul ul {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    padding: 0;
    z-index: 9;
}
#pageHeader nav ul ul li {
	float:none;
    position:relative;
    margin:0;
    padding:0;
    text-align: end;
}
#pageHeader nav ul li:hover > ul {
	display:block;
}
/******************** END MENU *********************/

#instructions{margin: 5px 10px;}
#instructions p{
    margin: 0px;
    font-size: 15px;
    line-height: 20px;
}
#instructions .hostedBy{margin-top: 5px;}
/************************************************************************/
#firstContainer{
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 85%;
    margin-left: 7.5%;
    padding-top: 35px;
}
#firstContainer.about{
    justify-content: center !important; 
}
#firstContainer.about #aboutContainer{ 
    max-width: 700px;
}
#firstContainer #videoContainer{
    width: 100%;
}
#firstContainer #videoContainer #video{
    width: 100%;
    min-height: 450px;
    display:block !important;
}

/************************************************************************/
#firstContainer #chatContainer{
    min-width: 360px;
    margin-left: 30px;
    display: inline-table;
}
#firstContainer #chatContainer #bubbleWrapper{
    width: 100%;
}
#firstContainer #chatContainer #bubbleWrapper #bubble{
    width: auto;
    margin-top: 0px !important;
    width: 100%;
    margin: 0px -6px;
    border:none;
}
div#bubble .loginForm #nickname{
    margin-bottom: 30px;
}
div#bubble #loginSubmit{
    border-radius: 0px;
}
div#bubble #login{
    height: 100%;
    margin: 0;
}
div#bubble #footer{
    height: 0px;
    padding:0px;
    height: 48px !important;
}
div#bubble #footer #userInput{
    height: 48px;
}
#firstContainer #chatContainer #bubbleWrapper #bubble #CryptodogLogin{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#firstContainer #chatContainer #bubbleWrapper #bubble #userInputText{
    width: 75%;
    margin: 0;
    padding: 0;
    border-radius: 0;
    height: 46px;
}
#firstContainer #chatContainer #bubbleWrapper #bubble #userInputSend{
    width: 24%;
    margin: 0;
    padding: 0;
    border-radius: 0;
}
#firstContainer #chatContainer #bubbleWrapper #bubble #conversationWindow{
    width: 100%;
}
#firstContainer #chatContainer #bubbleWrapper #bubble #conversationWindow .sender{
    width: auto;
}
#firstContainer #chatContainer #bubbleWrapper #bubble #conversationWrapper{
    width: 100%;
    padding: 10px 0 0 0;
    height: 502px;
}
/******************************************/
#aboutContainer{line-height: 1.5;}
#aboutContainer h2{margin-bottom: 10px;}
#aboutContainer h3{margin: 45px 0px 10px 0px;}
#aboutContainer li{margin-bottom: 10px;}
#aboutContainer ul, #aboutContainer ol{margin:10px 0px 10px 30px;}
body.light #aboutContainer a{color: var(--borderBottom)}
body.dark #aboutContainer a{color: var(--darkBorderBottom)}
body.light #aboutContainer a:hover{color: var(--hoverEffect)}
body.dark #aboutContainer a:hover{color: var(--darkHoverEffect)}    
/******************************************/

@media only screen and (max-width: 1200px) {
    #firstContainer{width: 95%;margin-left: 2.5%;}
}
@media only screen and (max-width: 1024px) {
    #firstContainer{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #firstContainer #videoContainer {
        width: 95%;
        margin-bottom: 15px;
    }
    #firstContainer #chatContainer {
        min-width: 0px;
        display: block;
        width: 95%;
        margin-bottom: 20px;
        margin-left: 0px;
    }
    #firstContainer #chatContainer #bubbleWrapper #bubble{
        margin: 0px;
    }
    .instructionsDesc{display:none;}
}

@media only screen and (max-width: 992px){
    #pageHeader img{width: 200px;}
}

@media only screen and (max-width: 768px) {
    h1{
        margin-left: 4% !important;
        font-size: 25px !important;
        /*height: 27px !important;*/
    }
    #firstContainer{
        width: 98%;
        margin-left: 1%;
    }
    #pageHeader #desktop{display:none;}
    #pageHeader #mobile{display:block;margin-right: 3%;}

    #pageHeader #mobile a{
        font-size: 15px;
        min-width: 90px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*#pageHeader #mobile .submenu:hover ~ .sub{
        display: flex;
    }*/
    #pageHeader #mobile .sub{
        display:none;
    }
    #pageHeader #mobile .sub{
        width: 75%;
        position: absolute;
        right: 0;
        top: 70px;
        z-index: 9;
        height: 100%;
        list-style: none;
        flex-direction: column;
        justify-content: flex-start;
    }
    #pageHeader #mobile .sub li {
        margin: 20px 0px;
        list-style: none;
    }
    #pageHeader #mobile .sub ul li {
        margin:0;
    }
    #pageHeader #mobile .sub ul li {border:none !important;}
    #pageHeader #mobile .sub li ul {
    	display:none;
    }
    #pageHeader #mobile .sub ul li a{
        height: 35px !important;
    }
    /*#pageHeader #mobile .sub li:hover > ul {
    	display:block;
    }*/
    .darkOrNot{
        margin-left: 0px;
    }
    #firstContainer.about #aboutContainer{
        max-width: 95%;
    }
    #firstContainer #videoContainer #video{
        min-height: 0px;
    }
}
